pandas
boto3
google-generativeai
openai
python-dotenv
streamlit>=1.28.0
google-adk
pydantic
mysql-connector-python
sqlalchemy
mysql
litellm
ipykernel
arize-phoenix
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-google-genai # For automatic LLM tracking